<!DOCTYPE html>
<html xmlsn:th="http://www.thymeleaf.org">
  <head>
    <title>Registration Succeeded</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.1.0/css/bootstrap.min.css" />
  </head>
  <body>
  	<div class="container text-center">
	  	<div>
	  		<h4>You Have Signed Up Succesfully</h4>
	  		<h4><a th:href="@{/login}">Login</a></h4>
	  	</div>  	    
  	</div>
  </body>
</html>